*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #19172e;
   
}

h1{
    color:#fff;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}

.hero{
    display: flex;
    justify-content: center;
   /* margin-top: 10%; */
}

img{
    height: 40px;
    width: 40px;
   margin-right: 5px;
}


input{
    height: 40px;
    width: 300px;
    border-radius: 45px;
    border:none;
    font-size: 1rem;
    padding: 10px 20px;
}
input:active{
    border: none;
}

h4{
    text-align: center;
    font-size: 1rem;
    color: #fff;
    margin-top: 7%;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: white;
    font-size: 1rem; 
    bottom: 0;
    margin-top: 20%;
    padding: 5px;
    line-height: 3vh;
}

footer a:visited {
    color: inherit;
}
