*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #19172e;
}

.container{
    height: 100vh;
    display: flex;
}

.quotes p, .quotes h1{
    font-size: 1.5rem;
    padding: 0 30px;
   
}

.quotes h1{
    padding-top: 30px;
}

.quotes p{
    font-size: 1.5rem;
    padding: 10px 30px;
   
}

.head{
    font-size: 3rem;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
}

.quotes{
    width: 600px;
    height: 400px;
    margin: 30px auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top:20px 20px; */
    color: #000;
    background-color: #fff;
    border-radius: 45px;
}

.btn{
    padding: 15px 25px;
    margin-top: 60px;
    /* margin-bottom: 0px; */
    background-color: rgb(69, 119, 211);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

